{% extends "shop/base.html" %}
{% block title %}
	Dziękujemy!
{% endblock %}
{% block content %}
<h1>Dziękujemy!</h1>
	<p>
		Zamówienie zostało złożone, a jego numer to <strong>{{ order.id }}</strong>.
	</p>
{% endblock %}